<h1>all cohorts</h1>
{{#unless cohorts.length}}
<p>
    no cohort yet
</p>
{{else}}
<ul class="list">
    {{#each cohorts}}
    <li class="item">
        <h2>{{this.name}} - {{this.campusLocation}}</h2>
        <p>
            <a href="/cohorts/edit/{{this._id}}">update</a><br>
            <a href="/cohorts/delete/{{this._id}}">delete</a>
        </p>
    </li>
    {{/each}}
</ul>
{{/unless }}