<h1>all hackers</h1>

{{#unless hackers.length}}
<p>
    no hacker yet
</p>
{{else}}
<ul class="list">
    {{#each hackers}}
    <li class="hacker item {{#if this.isRegistered}}is-registered{{/if}}">
        <h2>{{this.name}}</h2>
        <p>
            1/ display favLangage here<br>
            1/ display cohort name here !
        </p>
        <p>
            <a href="/hackers/{{this._id}}">see details</a><br>
            <a href="/hackers/edit/{{this._id}}">update</a><br>
            <a href="/hackers/delete/{{this._id}}">delete</a>
        </p>
    </li>
    {{/each}}
</ul>
{{/unless }}